@font-face
  font-family: 'DIN-Medium'
  src: url('../fonts/DIN-Medium.otf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'HYWenHei'
  src: url('../fonts/HYWenHei.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap
