@font-face
  font-family: 'HYWenHei'
  src: url('../fonts/HYWenHei-65W.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot?4joeb4')
  src: url('../fonts/icomoon.eot?4joeb4#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?4joeb4') format('truetype'),
          url('../fonts/icomoon.woff?4joeb4') format('woff'),
          url('../fonts/icomoon.svg?4joeb4#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-move-horizontal-alt2:before
  content: "\e900"

.icon-loop:before
  content: "\e901"

.icon-circle-up:before
  content: "\ea41"

.icon-arrow-circle-up:before
  content: "\e902"