*
  padding: 0
  margin: 0

.btn
  color: #ffffff
  font-size: 20px
  text-align: center
  transition: all .2s
  box-shadow: 0 0 5px #999
  background: #534769
  height: 60px
  line-height: 60px
  &:active
    opacity: .8
    box-shadow: 0 0 5px #4F3C71