@font-face {
  font-family: 'OPPOSans';
  src: url('OPPOSans-M.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teko';
  src: url('Teko-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
